html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: sans-serif; }

button {
  padding: 0; }

button:focus {
  outline: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333333; }

.header_container {
  width: 100%;
  height: 50px;
  min-width: 67.9375em;
  background-color: whitesmoke; }

.header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.header_left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .header_left:last-child {
    margin-right: 0; }

.h_l_list li {
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  margin-right: 10px; }

.header_command {
  font-size: 13px;
  font-weight: bold;
  padding: 4px 8px;
  line-height: 20px; }

.header_command:hover {
  color: #4078c0; }

.header_right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 17.05961%; }
  .header_right:last-child {
    margin-right: 0; }

.h_r_list li {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 26.56773%;
  display: inline-block;
  vertical-align: bottom; }
  .h_r_list li:last-child {
    margin-right: 0; }
  .h_r_list li:nth-child(3n) {
    margin-right: 0; }
  .h_r_list li:nth-child(3n+1) {
    clear: left; }

.h_r_icon {
  height: 20px;
  width: 20px;
  text-align: right; }

form,
.h_l_input {
  width: 350px;
  height: 28px; }

.page_container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-width: 67.9375em; }
  .page_container::after {
    clear: both;
    content: "";
    display: table; }

.main_content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .main_content:last-child {
    margin-right: 0; }

.repo_tabs {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 100%;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 15px; }
  .repo_tabs:last-child {
    margin-right: 0; }

.repo_tabs_left {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 65.61052%; }
  .repo_tabs_left:last-child {
    margin-right: 0; }

.repo_tab {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 30.11389%;
  display: inline-block;
  margin: 0; }
  .repo_tab:last-child {
    margin-right: 0; }

.repo_tab button {
  font-size: 13px;
  padding: 8px 12px;
  line-height: 20px;
  color: #666f9e;
  border: 0;
  background-color: white; }

.repo_tab_2 button {
  color: #333333;
  border-top: 2px solid #dddddd;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd; }

.repo_tabs_right {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 19.75788%;
  margin-left: 11.46316%;
  display: inline-block;
  margin-top: 7px; }
  .repo_tabs_right:last-child {
    margin-right: 0; }

.edit_button {
  text-align: right; }

.edit_button button {
  line-height: 20px;
  vertical-align: middle;
  padding: 2px 10px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #dddddd; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .sidebar:last-child {
    margin-right: 0; }

.name {
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px; }

.user_name {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px; }

.e_s_list {
  display: inline-block;
  font-size: 13px; }

.js_email_info {
  color: #4078c0;
  font-size: 13px; }

.js_join_date {
  font-size: 13px; }

.follow_list {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 26.56773%;
  text-align: center;
  font-size: 13px; }
  .follow_list:last-child {
    margin-right: 0; }

.followers_number,
.Starred_number,
.following_number {
  font-size: 28px;
  font-weight: bold;
  color: #4078c0; }

.organizations {
  font-size: 12px; }

.main_content_nav {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 100%;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .main_content_nav:last-child {
    margin-right: 0; }

.main_content_nav_left {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 42.6842%; }
  .main_content_nav_left:last-child {
    margin-right: 0; }

.main_content_nav_left ul {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%; }
  .main_content_nav_left ul:last-child {
    margin-right: 0; }

.m_c_n_l_list:first-child {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 73.14426%; }
  .m_c_n_l_list:first-child:last-child {
    margin-right: 0; }

.m_c_n_l_list:last-child {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 19.43277%; }
  .m_c_n_l_list:last-child:last-child {
    margin-right: 0; }

.m_c_n_l_list button {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 22px; }

.m_c_n_l_input {
  width: 75%;
  height: 34px;
  font-size: 13px; }

.main_content_nav_right {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 54.14736%;
  margin-top: 8px; }
  .main_content_nav_right:last-child {
    margin-right: 0; }

.m_c_n_r_links {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 8.96771%;
  margin-right: 20px; }
  .m_c_n_r_links:last-child {
    margin-right: 0; }

.mccrl1 {
  text-align: right; }

.mcnr_button {
  position: relative;
  bottom: 8px;
  left: 35px;
  border-radius: 10%;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 20px;
  background-color: #64b448;
  border: 1px solid #5ca941;
  color: white;
  font-weight: bold; }

.footer_container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-width: 67.9375em; }
  .footer_container::after {
    clear: both;
    content: "";
    display: table; }

.footer {
  border-top: 1px solid #dddddd;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer:last-child {
    margin-right: 0; }

.footer_left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  display: inline-block;
  position: relative; }
  .footer_left:last-child {
    margin-right: 0; }

.footer_left ul {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%;
  width: 100%; }
  .footer_left ul:last-child {
    margin-right: 0; }

.footer_left li {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 12.64237%;
  font-size: 12px;
  margin-right: 10px; }
  .footer_left li:last-child {
    margin-right: 0; }

.footer_logo {
  position: absolute;
  color: #cccccc;
  top: -10px;
  right: -29px; }

.footer_right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%; }
  .footer_right:last-child {
    margin-right: 0; }

.footer_right ul {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 100%; }
  .footer_right ul:last-child {
    margin-right: 0; }

.footer_right li {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 9.17941%;
  font-size: 12px; }
  .footer_right li:last-child {
    margin-right: 0; }

.organizations_icon {
  height: 42px;
  width: 42px; }

.user_pic {
  width: 100%; }

.user_pic1 {
  width: 20px;
  height: 20px; }

.js_fork {
  position: relative;
  left: 785px;
  bottom: 80px; }

.js_star {
  position: relative;
  left: 750px;
  bottom: 98px; }

.js_repoName,
.m_c_n_r_link,
.footer_link {
  color: #4078c0; }

.js_repoName:hover {
  text-decoration: underline; }

.footer_link:hover {
  text-decoration: underline; }

.js_update {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px; }

.m_c_n_r_link:hover {
  text-decoration: underline; }
