@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$visual-grid: true !global;
$max-width: em(1088) !global;
$min-width: em(1087) !global;
@import '../bower_components/neat/app/assets/stylesheets/neat';

.user_avatar{
   width:100%;
 }

button{
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;

}
a{
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}
.header_container{
  width: 100%;
  height: 50px;
  min-width: em(1087);
  background-color: rgba(245, 245, 245, 1);
}
.header{
  @include outer-container;
  padding-top: 10px;

}
.header_left{
  @include span-columns(8);
  border: 1px solid black;
}
.h_l_list li{
  display: inline-block;
  vertical-align: middle;
  color: rgba(51, 51, 51, 1);
    margin-right: 10px
}

.header_right{
  @include span-columns(2);
@include shift(2);
  border: 1px solid black;
}
.h_r_list li{
  @include span-columns(1 of 3);
display: inline-block;
vertical-align: bottom;
@include omega(3n);
}
form,
.h_l_input{
  width: 350px;
}
.page_container{
  @include outer-container;
}
.sidebar{
  @include span-columns(3);
  background-color: green;
}
.e_s_list,{
  display: inline-block;
}
.follow_list{
  @include span-columns(1 of 3);
  text-align: center;
}
